<div class="dashboard-container">
	<div class="top-games">
		
		<!-- TOP GAMES AUTOCOMPLETE -->
		<mat-form-field class="top-games-auto">
			<input matInput
				   placeholder="100 Most Popular Games"
				   [matAutocomplete]="topGameAuto"
				   [formControl]="topGameControl">
			<mat-autocomplete #topGameAuto="matAutocomplete"
							  [displayWith]="displayGameName"
							  (optionSelected)="getStreams($event)">
				<mat-option *ngFor="let game of filteredTopGames | async" [value]="game">
					<img class="top-games-pic" [src]="game.box_art_url|imageSize:'30'">
					<span>{{game.name}}</span>
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
	
	<!-- STREAMS LIST -->
	<ng-container *ngIf="streams.length">
		<h2> Streams </h2>
		<div class="streams-list">
			<div class="stream-item" *ngFor="let stream of streams; let indx = index">
				<mat-card>
					<mat-card-header>
						<mat-card-title>{{ stream.user_name }}</mat-card-title>
						<mat-card-subtitle class="stream-title">{{ stream.title| slice : 0 : 100 }}</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="stream-image" [src]="stream.thumbnail_url|imageSize:'600'" [alt]="stream.title">
					<mat-card-actions>
						<button mat-flat-button color="primary" (click)="followChannel(stream.user_id)">Follow</button>&nbsp;
						<button mat-flat-button color="warn" (click)="unfollowChannel(stream.user_id, indx)">Unfollow</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</ng-container>
	
	<!-- FOLLOWS LIST -->
	<ng-container *ngIf="follows.length">
		<h2> Follows </h2>
		<div class="streams-list">
			<div class="stream-item" *ngFor="let follow of follows; let indx = index">
				<mat-card>
					<mat-card-header>
						<mat-card-title>{{ follow.channel.name }}</mat-card-title>
						<mat-card-subtitle class="stream-title">{{ follow.channel.display_name| slice : 0 : 100 }}</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="stream-image" [src]="follow.channel.logo|imageSize:'600'" [alt]="follow.channel.display_name">
					<mat-card-actions>
						<button mat-flat-button color="warn" (click)="unfollowChannel(follow.channel._id, indx)">Unfollow</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</ng-container>
</div>
